In [ ]:
list=["apple","orange","banana","apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list)
type(list)

['apple', 'orange', 'banana', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

list

In [ ]:
#accessing the list
print(list[1])

for(x) in list:
    print(x)

orange
apple
orange
banana
apple
banana
cherry
orange
kiwi
melon
mango

In [ ]:
print(list[-1])
print(list[2:5])
print(list[:4])
print(list[4:])

mango
['banana', 'apple', 'banana']
['apple', 'orange', 'banana', 'apple']
['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

**List Comprehension**

List comprenhension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

**The syntax**

newlist=[expression for item in iterable if condition==true]

Condition is like a filter that only accepts the item that evaluate to True.

In [16]:
#list comprenhension example
ist=["apple","orange","banana","apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
newlist=[x for x in list if "a" in x]
print(newlist)

['apple', 'orange', 'banana', 'apple', 'banana', 'orange', 'mango']

Here rather than a whole block of code it can be replaced by using just a single line.

In [21]:
newlist=[x for x in list if x!="apple"]
print(newlist)

['orange', 'banana', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

**Iterable**

Iterable can be nay iterable object like a list, tuple, set, etc.

**Sort Lists**

sort() method that will sort the list alphanumerically, ascending, by default.

In [22]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

**Join lists**

In [23]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**Tuple**

Tuples are used to store multiple items in a single variable.

They are written with round brackets.

It is a collection which is ordered and unchangeable meaning they are immutable.

For changing its values they have to be converted to list then again to tuple.

In [24]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Set**

Sets are used to store multiple items ina single variable.

Set is a colelction which is unordered, unchangeable and unindexed.

Duplicates are not allowed.

**Dictionaries are like JSON**