#**Find digits in given data**

In [ ]:
import re
data="The price is $100."

In [ ]:
pattern=r'[0-9]'
match_list=re.findall(pattern,data)
print(match_list)

['1', '0', '0']

**instead of class, sequence characters can be used '\d'**

In [ ]:
pattern=r'\d'
match_list=re.findall(pattern,data)
print(match_list)

#observe
pattern=r'\d{3}'
match_list=re.findall(pattern,data)
print(match_list)

['1', '0', '0']
['100']

# **find texts**

In [ ]:
#small letters
pattern=r'[a-z]'
match_list=re.findall(pattern,data)
print(match_list)


#capital letters
pattern=r'[A-Z]'
match_list=re.findall(pattern,data)
print(match_list)


#ignoring case
pattern=r'[a-z]'
match_list=re.findall(pattern,data,re.IGNORECASE)
print(match_list)


#vowels
pattern=r'[aeiou]'
match_list=re.findall(pattern,data)
print(match_list)

#characters
pattern=r'[$]'
match_list=re.findall(pattern,data)
print(match_list)

['h', 'e', 'p', 'r', 'i', 'c', 'e', 'i', 's']
['T']
['T', 'h', 'e', 'p', 'r', 'i', 'c', 'e', 'i', 's']
['e', 'i', 'e', 'i']
['$']

# **Multiple character classes**

In [ ]:
#suppose gotta find alphabets and numbers
pattern=r'[A-Z0-9]'
match_list=re.findall(pattern,data)
print(match_list)

['T', '1', '0', '0']

# ***Some character classes***
**[abc]: matches any one of the characters;a,b or c**

**[^abc]: matches any character that is not a b or c**

**[0-9]: matches any digit from 0 to 9**

**[A-Z]: matches uppercase letters form a to z**

**[a-z]: matches lowercase letters form a to z**

**[A-Za-z]: matches both uppercase and lowercase letters otherwise you can do it by passing argument ignorecase as above**

**[^0-9]: matches any character that is nota  digit**

**[^A-Za-z]: matches characters that are neither uppercase nor lowercase letters**

In [ ]:
#condition for password atleast one digit or at least one uppercase letter
password=input('Enter Password: ')
pattern=r'[0-9A-Z]'
data=re.findall(pattern,password)
if data:
  print('Valid Password')
else:
  print('Invalid Password')

Enter Password: sqL
Valid Password

# **Special sequences**
**\d: matches any digit character**

**\D: matches any non digit character**

**\w: matches any word character(alphanumeric plus underscore)**

**\W: matches any non-word character**

**\s: matches any whitespace character**

**\S: matches any non-whitespace character**

**\b: matches a word boundary**

**\A: startswith**

**\Z: endswith**

In [ ]:
text="Hello, my phone number is 123-456-7890"
pattern=r'\d'
result=re.findall(pattern,text)
print(result)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [ ]:
pattern=r'.'
result=re.findall(pattern,text)
print(result)
#dot metacharacter identifies every characters except \n : white space

['H', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'p', 'h', 'o', 'n', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', ' ', 'i', 's', ' ', '1', '2', '3', '-', '4', '5', '6', '-', '7', '8', '9', '0']

In [ ]:
data='numbers are 8907654321, (897)-999-8767'

In [ ]:
pattern=r"\(\d{3}\)-\d{3}-\d{4}|\d{10}"
result=re.findall(pattern,data)
print(result)

['8907654321', '(897)-999-8767']

# **(*) sign is used for sequence of characters**

**it will match for occurances of zero or more**

In [ ]:
text="abc@xyz.com, abx_83@xyz.com,etc are few gmails."

In [ ]:
pattern=r"[a-z0-9A-Z_*]*@[A-Za-z]*[a-z]*\.com"
result=re.findall(pattern, text)
print(result)

['abc@xyz.com', 'abx_83@xyz.com']